.deviceFrame h4, Link {
    margin: 15px 0;
}

.deviceFrame img {
    width: 50px;
    vertical-align: middle;
    margin: 0 10px;
}

.deviceFrame p > img {
    width: 30px;
    margin-left: 70px;
}

.button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 0 10px 5px;
    font-size: 0.85em;
}

.link {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    font-size: 0.85em;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.inactive h4, .inactive p {
    opacity: 0.5;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    padding: 20px;
    text-align: left;
}

.table tr {
    border-bottom: #eee 2px solid;
}

.table tr:last-of-type {
    border-bottom-width: 0;
}

.deviceTypeIcon {
    vertical-align: middle;
}