.container {
    margin: 10px 0;
    text-align: center;
}

.page {
    border-radius: 5px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    color: #222222;
}

.selected {
    background: deepskyblue;
    color: white;
    box-shadow: deepskyblue 0 0 3px;
    font-weight: bold;
}