.form {
    margin: 100px auto;
    max-width: 300px;
    border: #aaaaaa 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
}

.form input {
    background: #f0f0f0;
    border: none;
    border: #222222 1px solid;
    border-color: rgba(0, 0, 0, 0);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.form input:focus {
    border-color: rgba(0, 0, 0, 0.2);
}

.form button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 0 10px 5px;
    font-size: 0.85em;
}

.form a:active, .form a:hover, .form a:visited, .form a:link {
    color: #222222;
}