.button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 0 10px 5px;
    font-size: 0.85em;
}

.link {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    font-size: 0.85em;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 25px 10px 5px;
    display: inline-block;
    text-decoration: none;
}

.studentId {
    letter-spacing: -0.1em;
}

@media (max-width: 900px) {
    .deviceFrame p > img {
        margin-left: 10px;
    }
}

.icon {
    width: 30px;
    vertical-align: middle;
    margin: 0 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    padding: 20px;
    text-align: left;
}

.table tr {
    border-bottom: #eee 2px solid;
}

.table tr:last-of-type {
    border-bottom-width: 0;
}