.button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 0 10px 5px;
}

.link {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    font-size: 0.85em;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 10px 0 10px 5px;
    display: inline-block;
    text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    padding: 20px;
    text-align: left;
}

.table tr {
    border-bottom: #eee 2px solid;
}

.table tr:last-of-type {
    border-bottom-width: 0;
}