.deviceFrame h4, Link {
    margin: 15px 0;
}

.deviceFrame img {
    width: 50px;
    vertical-align: middle;
    margin: 0 10px;
}

.deviceFrame p > img {
    width: 30px;
    margin-left: 70px;
}

.button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 0 10px 5px;
    font-size: 0.85em;
}

.link {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    font-size: 0.85em;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 25px 10px 5px;
    display: inline-block;
    text-decoration: none;
}

.inactive h4, .inactive p {
    opacity: 0.5;
}