.form {
    margin: 100px auto;
    max-width: 300px;
    border: #aaaaaa 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
}

.form input {
    background: #f0f0f0;
    border: none;
    border-bottom: #222222 1px solid;
    border-bottom-color: rgba(34, 34, 34, 0);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.form input:focus {
    border-bottom-color: rgba(34, 34, 34, 255);
}

.form button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    margin: 20px 25px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
}

.form a:active, .form a:hover, .form a:visited, .form a:link {
    color: #222222;
}