/*@import url('https://fonts.googleapis.com/css2?family=Roboto');*/
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/roboto/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header a:active, .header a:hover, .header a:visited, .header a:link {
    color: inherit;
    text-decoration: inherit;
}

.header {
    background: #222222;
    color: white;
    line-height: 64px;

}

.logo {
    padding: 5px 20px;
    margin: 0 10px;
    font-size: 1.8em;
    font-weight: bold;
}

.menu {
    float: right;
}

.link {
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 10px;
}

.button {
    border: white 1px solid;
    border-radius: 5px;
    margin: 0 25px;
    padding: 7px 30px;
    background: white;
    color: #222222 !important;
    text-transform: uppercase;
}

.content {
    margin: 20px auto;
    max-width: 900px;
}

.errorContainer {
    border-radius: 10px;
    box-shadow: #aaaaaa 0 0 5px;
    margin: 10px auto;
    max-width: 300px;
    background: orangered;
    color: white;
    padding: 10px 30px;
    text-align: center;
}