.button {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 30px 0 10px 5px;
}

.link {
    color: white;
    font-weight: bold;
    border: white 1px solid;
    font-size: 0.85em;
    border-radius: 5px;
    padding: 10px 40px;
    background: #222222;
    text-transform: uppercase;
    margin: 10px 0 10px 5px;
    display: inline-block;
    text-decoration: none;
}

.inactive h4, .inactive p {
    opacity: 0.5;
}

.form input {
    background: #f0f0f0;
    border: rgba(0, 0, 0, 0) 1px solid;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s;
    min-width: 300px;
}

.form input:focus {
    border-color: rgba(0, 0, 0, 0.2);
}

.form input[type="radio"] {
    display: none;
}

.form input[type="radio"] + label {
    padding: 15px 30px;
    border-radius: 30px;
    margin: 10px 0;
}

.form input[type="radio"]:checked + label {
    background: #f0f0f0;
}

.form input[type="radio"] + label img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 10px 15px 10px 0;
    display: inline;
}

.form input[type="radio"]:checked + label img {
    opacity: 1;
}

.form form {
    padding: 10px 30px;
}

.form form > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 900px) {
    .form input {
        min-width: calc(100% - 40px);
    }

    .form form > div {
        width: 100%;
    }
}